[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyqt5" = "*"
pyqtgraph = "*"
dataclasses = "*"
qdarkstyle = "*"
requests = "*"
websocket-client = "*"
peewee = "*"
pymysql = "*"
"psycopg2" = "*"
mongoengine = "*"
numpy = "*"
pandas = "==0.24.2"
matplotlib = "*"
seaborn = "*"
futu-api = "*"
tigeropen = "*"
rqdatac = "*"
ta-lib = "*"
ibapi = "*"
deap = "*"
pyzmq = "*"
wmi = "*"
qscintilla = "*"

[dev-packages]

[requires]
python_version = "3.7"
